[Unit]
Description=Apache Tomcat Service
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/apache-tomcat
ExecStart=/usr/local/apache-tomcat/current/bin/archiva start
ExecStop=/usr/local/apache-tomcat/current/bin/archiva stop
KillMode=none

[Install]
WantedBy=multi-user.target
